@{
    ViewBag.Title = "Родина: Про нас";
}

<a href="/Global/Main" class="btn btn-default btn-lg" role="button">Головна</a>
<a href="/Global/AboutUs" class="btn btn-primary btn-lg" role="button">Про нас</a>
<a href="/Global/Contacts" class="btn btn-default btn-lg" role="button">Контакти</a>

<link href="~/Content/Site.css" rel="stylesheet" />

<h2>Про компанію</h2>
<h3>Історія компанії</h3>
<table class="tablehistory">
    <tbody>
        <tr><th>Період</th><th>Ключові події у діяльності компанії</th></tr>
        <tr><td class="year"><strong>1947</strong></td><td>Створений Костопільський райхарчокомбінат</td></tr>
        <tr><td class="year"><strong>1977</strong></td><td>Райхарчокомбінат перейменовано у Костопільський завод продтоварів</td></tr>
        <tr><td class="year"><strong>1994</strong></td><td>Костопільський завод продтоварів реорганізовано у Відкрите акціонерне товариство «Костопільський завод продовольчих товарів»</td></tr>
        <tr><td class="year"><strong>2002</strong></td><td>Продукція ВАТ «Костопільський завод продтоварів» позиціонується під торговою маркою «Родина»</td></tr>
        <tr><td class="year"><strong>2010</strong></td><td>ВАТ «Костопільський завод продтоварів» перейменовано у Приватне акціонерне товариство «Родина»</td></tr>
    </tbody>
</table>
<h3>Наше сьогодення</h3>
<p>
    Торгова марка «РОДИНА» — це група сучасних потужних підприємств європейського зразка, яка об’єднує АТ «Родина» та ПП «Маргариновий завод».<br>
    Сьогодні АТ «Родина» випускає понад 200 найменувань продукції, яка заслужено користується великим попитом у споживачів.
</p>
                Серед них
<ul><li>цукристі кондитерські вироби (зефір, ірис, мармелад, драже, східні солодощі, цукерки), </li><li>борошняні кондитерські вироби (печиво здобне, печиво вівсяне, пряники з начинкою, бісквіт), </li><li>хліб та хлібобулочні вироби (45 видів),</li><li>бакалія (соки, повидло, мед та інше).</li></ul>
                На теперішній час на підприємстві функціонує п’ять цехів:
<ul><li>плодоконсервний; </li><li>кондитерський № 1;</li><li>кондитерський № 2;</li><li>зефірний;</li><li>хлібобулочний. </li></ul>
<p>Поряд із динамічним розвитком, на підприємстві постійно ведеться модернізація виробництва, монтується нове устаткування, нарощуються потужності, підвищується технічний рівень шляхом впровадження технічних новацій.</p>
<h3>Якість продукції</h3>
<p>Найважливішим у нашій компанії є якість продукції.</p>
<p>Солідним показником високої якості, що орієнтує підприємство на світові норми і практики, є сертифікація системи управління якістю за вимогами стандарту ISO 9001 (ISO — інтелект, сумлінність, організованість). З цією метою на підприємстві спеціалісти Київського <nobr>науково-технічного</nobr> центру «Партнер ISO» проводили навчання, ділилися досвідом роботи провідних українських підприємств, які працюють по даній системі управління. Вимоги міжнародного стандарту якості зорієнтовані на задоволення зростаючих потреб споживачів, на постійний посилений контроль за якістю продукції. До того ж ця система спонукає персонал працювати ліпше та злагодженіше, постійно вдосконалюючи свою професійну майстерність, концентрує зусилля кожного працівника на досягненні цілей підприємства. Сертифікат підтверджує добру ділову репутацію компанії, є гарантом надійності його роботи.</p>
<p>Поряд з цим стандартом АТ «РОДИНА» впроваджує систему безпеки харчових продуктів HACCP, за допомогою якої контролюватимуться найважливіші стадії виробництва.</p>
<h3>Нагороди</h3>
<p>5 видів кондитерських виробів та сік морквяний нагороджено золотими медалями Всеукраїнського дегустаційного конкурсу «Краща торгова марка України».</p>
<p>
    За високу якість продукції ВАТ «Костопільський завод продтоварів» у 2001, 2003 роках був переможцем національного конкурсу «Краща торгова марка України».<br>
    Золотими медалями за високу якість продукції нагороджено зефір <nobr>«Біло-рожевий»</nobr> та зефір «Родина». Майонез «Провансаль»- срібною медаллю.<br>
    У 2003 році ВАТ «Костопільський завод продтоварів» відзначено подякою Прем’<nobr>єр-міністра</nobr> України.
</p>
            </div>
        </div>
