@{
    ViewBag.Title = "Родина: Контакти";
}

<a href="/Global/Main" class="btn btn-default btn-lg" role="button">Головна</a>
<a href="/Global/AboutUs" class="btn btn-default btn-lg" role="button">Про нас</a>
<a href="/Global/Contacts" class="btn btn-primary btn-lg" role="button">Контакти</a>

<h2>Контактна інформація</h2>
<h3>Приватне акціонерне товариство «Родина»</h3>
<p>Україна, 35000, Рівненська обл., м.Костопіль, вул.Крип'якевича, 48а</p>
<p>Тел./факс: (03657) 2-17-50</p>
<p>E-mail: <a href="mailto:rodyna-tm@ukr.net">rodyna-tm@ukr.net</a></p>
