@{
    ViewBag.Title = "Родина: Головна";
}

<a href="/Global/Main" class="btn btn-primary btn-lg" role="button">Головна</a>
<a href="/Global/AboutUs" class="btn btn-default btn-lg" role="button">Про нас</a>
<a href="/Global/Contacts" class="btn btn-default btn-lg" role="button">Контакти</a>

<h2>Шановні споживачі!</h2>
<p>ТМ «Родина» з радістю представляє Вам широкий асортимент своєї продукції. Дбайлива турбота про кожну родину — основа філософії нашого підприємства. Наша компанія прагне врахувати побажання споживачів, виготовляючи натуральні якісні продукти.</p>
<ol>
    <li><strong>Якість</strong> — один з основних критеріїв продукції. Жорсткий контроль якості продукції ТМ «Родина» відбувається безпосередньо на кожному етапі її виробництва — від приймання вхідної сировини до відвантаження готової продукції. На підприємстві інтегрована система менеджменту якості за вимогами стандарту ISO 9001 (ISO — інтелект, сумлінність, організованість) та HACCP (система безпечності харчових продуктів). Вимоги міжнародного стандарту якості зорієнтовані на постійний посилений контроль за якістю продукції, на задоволення зростаючих потреб споживачів.</li>
    <li><strong>Натуральність, корисність і традиційність</strong> — ось критерії торгової марки Родина». Наша продукція є абсолютно натуральною, виготовленою на основі високоякісної сировини. Ми не використовуємо консервантів та поліпшувачів, наша продукція не містить ГМО. Завдяки дотриманню класичних рецептів за ГОСТівськими стандартами у вдалому поєднанні з новітніми технологіями продукція ТМ «Родина» заслужено користується попитом у населення.</li>
    <li><strong>Найкраща якість за привабливою ціною.</strong> Наша продукція належить до середнього цінового сегменту та розрахована на споживачів різних верств населення.</li>
    <li><strong>Постійне вдосконалення смакових та якісних показників продукції.</strong> Колектив нашої компанії налаштований на творчий пошук шляхів задоволення потреб споживача, розробку і впровадження у виробництво нових видів продукції, невпинне покращення їх якості.</li>
</ol>
<p>Здоров'я Вам та Вашим родинам!</p>
<p>
    <strong>
        З повагою,
        <br>
        Голова наглядової ради акціонерного товариства «Родина»
        <nobr>
            М.Г. Кучерук
        </nobr>
    </strong>
</p>