@using WebUI.Models
@using WebUI.HtmlHelpers;
@model SweetsListViewModel

@{
    ViewBag.Title = "Родина - рідніше не буває!";
}

<!-- Кнопки для сортировок -->
<div class="form-group form-group-sm">
    <select class="form-control"
            title="Сортувати за.."
            autocomplete="off"
            id="sort-by"
            onchange="sortBy($('#sort-by').val(), true); checkOrderOption('#sort-asc', '#sort-desc')">
        <option value="sortbyName" selected>За назвою</option>
        <option value="sortbyPrice">За ціною</option>
    </select>
</div>
<div class="btn-group" data-toggle="buttons" id="sort-order">
    <label class="btn btn-default btn-sm active" title="по возрастанию" id="sort-asc" onclick="sortBy($('#sort-by').val(), true)">
        <input type="radio" name="options" id="option2" autocomplete="off" selected>
        <i class="glyphicon glyphicon-sort-by-attributes"></i>
    </label>
    <label class="btn btn-default btn-sm" title="по убыванию" id="sort-desc" onclick="sortBy($('#sort-by').val(), false)">
        <input type="radio" name="options" id="option1" autocomplete="off">
        <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
    </label>
</div>

<div id="sortable">
    @foreach (var sweet in Model.Sweets)
    {
        <div id="sort-elem" sortbyName="@sweet.Name" sortbyPrice="@sweet.Price">
            @Html.Partial("_SweetSummary", sweet)
        </div>
    }
</div>

<div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, type = Model.CurrentType }))
</div>


@section scripts {

<script>

    function sortBy(attr, byAscending) {
        var elements = $.makeArray($('#sortable #sort-elem'));
        elements.sort(function (a, b) {
            a = $(a).attr(attr).replace(':', '').replace(',', '');
            b = $(b).attr(attr).replace(':', '').replace(',', '');
            if (byAscending) {
                return a - b;
            } else {
                return b - a;
            }
        });
        $(elements).appendTo('#sortable');
    }

    function checkOrderOption(checked, unchecked) {
        $('#sort-order ' + checked).addClass('active');
        $('#sort-order ' + checked + ' input').attr('checked', 'checked');

        $('#sort-order ' + unchecked).removeClass('active');
        $('#sort-order ' + unchecked + ' input').removeAttr('checked');
    }

</script>
}
