@using WebUI.Models
@using WebUI.HtmlHelpers;
@model SweetsListViewModel

@{
    ViewBag.Title = "Родина - рідніше не буває!";
}

@foreach (var sweet in Model.Sweets)
{
    @Html.Partial("_SweetSummary", sweet)
}

<div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, type = Model.CurrentType }))
</div>